##### Unreal Engine Binary Assets #####
*.uasset filter=lfs diff=lfs merge=lfs -text
*.umap   filter=lfs diff=lfs merge=lfs -text
##### Explicitly NOT LFS #####
*.ini text
*.json text
*.csv text
*.txt text
*.md  text
